@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: grid;
    grid-template: 10% 10% 1fr/15% 1fr;
    height: 100%;
}

.sidebar{
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: #14b8a6;
    /* font-family: 'Roboto', sans-serif; */

}

.header{
    grid-column: 2/3;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: max-content 1fr 30%;
    align-items: center;
    gap: 20px;
}

.header>.search-icon{
    justify-self: end;    
    margin-left: 30px;
}

.header>.search-box{
    height: 35px;
    width: 700px;
    border-radius: 50px;
    border-style: none;
    background-color: rgb(223, 229, 235);
}

.header>div{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.header>div>img:nth-child(2){
    background-color: yellow;
    width: 35px;
    border-radius: 50px;
}

.nav{
    grid-column: 2/3;
    grid-row: 2/3;
}

.main{
    grid-column: 2/3;
    grid-row: 3/4;
}

/* .title>p{
    align-self: center;
}

.options>div>img{
    justify-self: center;
} */

.sidebar>.title{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.options>div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.options>div>img{
    width: 24px;
}

.header img{
    width: 24px;
}

.sidebar>div>img{
    width: 3rem;
}

.icons>img{
    width: 24px;
}