@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.container{
    display: grid;
    grid-template: 10% 10% 1fr/20% 1fr;
    height: 100%;
}

.sidebar{
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: #14b8a6;
    font-family: 'Roboto', sans-serif;

}

.header{
    grid-column: 2/3;
    grid-row: 1/2;
}

.nav{
    grid-column: 2/3;
    grid-row: 2/3;
}

.main{
    grid-column: 2/3;
    grid-row: 3/4;
}

/* .title>p{
    align-self: center;
}

.options>div>img{
    justify-self: center;
} */

.sidebar>.title{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.options>div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.options>div>img{
    width: 24px;
}

.header img{
    width: 24px;
}

.sidebar>div>img{
    width: 3rem;
}

.icons>img{
    width: 24px;
}