@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: grid;
    grid-template: 10% 10% 1fr/15% 1fr;
    height: 100%;
}

.header{
    grid-column: 2/3;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: max-content 1fr 30%;
    align-items: center;
    gap: 20px;
}

.header>.search-icon{
    justify-self: end;    
    margin-left: 30px;
}

.header>.search-box{
    height: 35px;
    width: 700px;
    border-radius: 50px;
    border-style: none;
    background-color: rgb(223, 229, 235);
}

.header>div{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.header>div>img:nth-child(2){
    background-color: yellow;
    width: 35px;
    border-radius: 50px;
}

.nav{
    grid-column: 2/3;
    grid-row: 2/3;
}

.main{
    grid-column: 2/3;
    grid-row: 3/4;
}

/* .title>p{
    align-self: center;
}

.options>div>img{
    justify-self: center;
} */

.sidebar{
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: #14b8a6;
    /* font-family: 'Roboto', sans-serif; */;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    gap: 50px;
    font-size: 1.2rem;
    color: white;
    justify-content: start;
}

.sidebar>.title{
    display: grid;
    grid-template-columns: 30% 1fr;
    align-items: center;
    gap: 10px;
    padding-top: 1rem;
    margin-left: 20px;
}

.sidebar>div:hover{
    cursor: pointer;
}

.sidebar>div>img{
    justify-self: end;
    width: 3rem;
    filter: invert(1);
}

.options>div{
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 30% 1fr;
    align-items: center;
    gap: 10px;
    padding: 10px 0;

    /* justify-items: center; */
}

.options>div>img{
    justify-self: end;
    width: 24px;
    filter: invert(1);
}

/* .options>div>img{
    width: 24px;
} */

.header img{
    width: 24px;
}

/* .sidebar>div>img{
    width: 3rem;
} */

.icons>img{
    width: 24px;
}

.nav{
    display: grid;
    grid-template-columns: max-content 1fr 30%;
    align-content: center;
    gap: 20px;
}

.nav>img{
    width: 48px;
    background-color: yellow;
    border-radius: 50px;
    margin-left: 30px;
}

.nav>.profile{
    align-self: center;
}

.nav>.profile>p:nth-child(1){
    font-size: 15px;
}

.nav>.profile>p:nth-child(2){
    font-size: 1.5rem;
    font-weight: 900;
}

.nav>.nav-buttons{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    justify-content: center;
}

.nav>.nav-buttons>li{
    list-style: none;
    background-color: #14b8a6;
    text-align: center;
    align-self: center;
    padding: 10px 25px;
    border-radius: 50px;
    color: white;
}